<launch>

<rosparam file="$(find pioneer_playground)/launch/pantilt/controller.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
          ns="/PanTiltMerge" args="joint_state_controller 
                                    Rev11_position_controller 
                                    Rev12_position_controller 
                                    "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="/PanTiltMerge" >
  <remap from="/joint_states" to="/PanTiltMerge/joint_states"/>
</node>

</launch>
